body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background: #1F2937;
    margin: 0;
    padding: 16px;
    gap: 20px;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    flex-shrink: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    background: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 60px;
    padding-bottom: 120px;
    justify-content: center;
}

.white {
    background: #f9faf8;
    flex-direction: column;
    align-items: center;
}

.quote {
    background: #e5e7eb;
    flex-direction: column;
}

.caption-left {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 3;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 10px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: auto;
}

img {
    width: 570px;
    height: 280px;
    flex-shrink: 0;
    flex-basis: auto;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 12px;
    background: #3882F6;
    color: #f9faf8;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.heading-pics {
    font-size: 36px;
    font-weight: 900;
    color: 1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}

.card {
    width: 200px;
}

.square {
    border: 6px #3882F6;
    border-style: solid;
    border-radius: 30px;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.des {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: lightslategray;
}

em {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
}

.sign {
    margin-top: 10px;
    text-align: end;
    font-weight: 700;
}